[submodule "Automatic-Circuit-Discovery"]
	path = Automatic-Circuit-Discovery
	url = https://github.com/Iust1n2/Automatic-Circuit-Discovery.git
[submodule "edge-attribution-patching"]
	path = edge-attribution-patching
	url = https://github.com/Iust1n2/edge-attribution-patching
	branch = main
[submodule "Easy-Transformer"]
	path = Easy-Transformer
	url = https://github.com/Iust1n2/Easy-Transformer.git
